html,
body {
	position: relative;
	min-height: 100vh;
	background-color: #e1e8ee;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Fira Sans", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.form-structor {
	background-color: #ffffff;
	border-radius: 15px;
	height: 550px;
	width: 600px;
    display: none;
    flex-direction: column;
    justify-content: center;    
}

.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.form-group {
    display: flex;
    justify-content: center;
}

.password-input {
    padding: 12px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 70%;
    outline: none;
    transition: border-color 0.3s;
}

.password-input:focus {
    border-color: #66afe9;
}
